.contacto_redes a img{
    transition: all .5s;
}
.contacto_redes a img:hover{
    transform: translate(10px,-10px);
}

.nav_item {
    margin-left: 10px;
    padding: 5px 10px;
    display: flex;
    transition: all .5s ease-in;
    }

.navegacion .navbar .nav_item:hover {
    transform: translate(5px,5px);
}

.galeria_estudio{
    display: none;
    width: 90%;
    height: auto;
    border-radius: 15px;
    background-image: url(../assets/img/GaleriaEstudio/galeria1.jpg);
    background-position: center;
    background-size: cover;
    animation: galeria 20s infinite;
}

@keyframes galeria {
    0%, 100%{
        background-image: url(../assets/img/GaleriaEstudio/galeria1.jpg);
    }
    50% {
        background-image: url(../assets/img/GaleriaEstudio/galeria2.jpg);
    }
}
