:root{
    font-size: 16px;
}

@font-face {
    font-family: "Roboto";
    src: url(../Font/Roboto-LightItalic.ttf);
}

                                        /* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                        /* navegador */

header{
    position: sticky;
    top: 0px;
    z-index: 5;
}

.navegacion{
/*     background-color: rgba(128, 128, 128, 0.801); */
    background-image: url(../assets/img/Hormigon.png);
    width: 100%;
    height: 74px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.nav_item{
    margin-left: 10px;
    padding: 5px 10px;
    display: flex;
}


.nav_item a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.navegacion section span{
    width: max-content;
}

.activo{
    border-bottom: 2px solid black;
} 

/* pseudoclases */

.nav_item:hover{
    background-color: rgba(128, 128, 128, 0.26);
    font-weight: 600;
}

.nav_item:active{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}

.nav_item a:hover{
    color: white;
}

.activo:hover{
    border-bottom: 2px solid white;
}
                                        /* logo de pagina */
.navegacion section{
width: auto;
display: flex;
justify-content: start;
align-items: center;
}

.navegacion section a img{
width: 50px;
height: 50px;
margin: 10px 10px 10px 10px;
}

.navegacion section span{
    font-weight: bold;
    color: black;
}

/* menu mobile */
.navegacion label img{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    box-sizing: content-box;
}

#check_menu , .navegacion label{
    display: none;
}

                                        /* fin navergador */

                                        /* fondo de pagina */

body{
    font-family: "Roboto";
    background-image: url(../assets/img/foto\ de\ portada.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
                                        /*     position: relative;
    padding-bottom: 100px;
    min-height: 100vh; */
}

                                        /* fin fondo pagina */



                                        /* generales */

.presentacion p{
/*     margin-top: 800px; */
    text-align: center;
    background-color: rgba(128, 128, 128, 0.322);
    font-weight: 600;
}

h1{
    color: blue;
    margin: 15px 15px 0px 15px;

}
h2{
/*     color:red; */
font-family: "Roboto";
font-size: 16px;

}
h4{
    background-color: grey;
    color: blue;
}
a{
    text-decoration: none;
}


                                        /* fin generales */

                                        /* index */

#body_index{
    background-image: none;
    background-color: rgba(241, 236, 236, 0.836);
}
.carousel_index{
    margin: 20px;
    border-radius: 5px;
}

.carouselExample button{
    background-color: grey;
    
}

                                        /* pagina de proyecto */

.proyectos_img{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    
}

.proyec_selec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.5);

}

.nav_proy{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav_proyectos{
    width: 50%;
    margin-left: 10px;
    padding: 5px 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
    padding: 10px;
}

.nav_proyectos li a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.proyec_selec p{
    border: 1.5px solid black;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}

/* pseudoclases */

.proyec_selec:hover{
    background-color: rgba(204, 200, 200, 0.05);
}

.proyec_selec p:hover{
    font-weight: 600;
}

                                        /* fin pag de proyecto */

                                        /* servicios */


.serv_sec{
    width: 100%;
    height: 60vh;
    margin: 60px 60px 30px;
}

.diseno{
    display: grid;
    width: 100%;
    grid-template-columns: 35% 55%;
    grid-template-rows: 40px 130px 130px 130px;
    column-gap: 20px;
    row-gap: 10px;
    justify-items: stretch;
    align-items: end;
/*     grid-template-areas: 
    "titulo titulo"
    "texto1 foto"
    "texto2 foto"
    "texto3 foto"; */
}

.a_titulo{
    /* grid-area: titulo; */
    grid-row: 1/2;
    grid-column: 1/3;
}

.b_texto{
/*     grid-area: texto1; */
grid-row: 2/3;
grid-column: 1/2;
}
.c_texto{
/*     grid-area: texto2; */
grid-row: 3/4;
grid-column: 1/2;
}
.d_texto{
/*     grid-area: texto3; */
grid-row: 4/5;
grid-column: 1/2;
}
.e_img{
/*     grid-area: foto; */
grid-row: 2/4;
grid-column: 2/3;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

.direccion{             
    display: grid;
    width: 100%;
    grid-template-columns: 55% 35%;
    grid-template-rows: 40px 130px 130px 130px;
    column-gap: 20px;
    row-gap: 10px;
/*     justify-items: stretch;
    align-items: end; */
/*     grid-template-areas:
    "titulo titulo"
    "foto texto1"
    "foto texto2"
    "foto texto3"; */
}

.titulo_a{                   
/*     grid-area: titulo; */
    grid-row: 1/2;
    grid-column: 1/3;
}
.img_b{
/*     grid-area: foto; */
    grid-row: 2/5;        
    grid-column: 1/2;

}
.text_c{
/*     grid-area: texto1; */
    grid-row: 2/3;
    grid-column: 2/3;
}
.text_d{
/*     grid-area: texto2; */
    grid-row: 3/4;
    grid-column: 2/3;
}
.text_e{
/*     grid-area: texto3; */
    grid-row: 4/5;
    grid-column: 2/3;
}
.img_b img{
    width: 100%;
    height: 100%;
}

                                        /* fin servicios */

                                        /* pag estudio */

.estudio{
    background-color: rgba(128, 128, 128, 0.26);
    width: 96%;
    border: 1px solid grey;
    margin: 30px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.fundadores , .img_estudio{
    width: 50%;
}
.fundadores h2{
    width: 85%;
    margin-left: 20px;
}

.fundadores img{
    border-radius: 15px;
    width: 90%;
    margin: 17px;
    margin-bottom: 20px;
    flex-direction: column;
    height: fit-content;
}

.img_estudio img{
    border-radius: 15px;
    width: 100%;
    margin-top: 90px;
    margin-right: 10px;
    height: fit-content;

}


                                        /* fin pag estudio */



a img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

                                        /* contacto */

.contacto_form{
    width: 100%;
}

.ubicacion a img{
    background-color: aqua;
    width: 400px;
    height: 400px;
}

.Formulario{
    background-color: rgba(128, 128, 128, 0.808);
    box-shadow: 5;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.ubicacion{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.Formulario form{
    width: 50%;
    display: flex;
    flex-direction: column;
}

                                        /* footer */

.footer{        
    background-image: url(../assets/img/Hormigon.png);;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacto_redes a img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.contacto_redes{
    margin-top: 10px;
    margin-left: 15px;
}

.contacto{
    margin-top: 10px;
    margin-right: 15px;
}

                                        /* fin footer */

                                        /* media queries */

@media only screen and (max-width: 1130px){
/*     body{
        acomodar la imagen
    } */
    .proyectos_img{
        justify-content: center;
    }

}

@media only screen and (max-width: 870px){
    .navbar {
        width: auto;
    }
    .nav_item a{
        text-align: left;
    }

}

@media only screen and (max-width: 757px){
    .navegacion label{
        display: block;
    }
    .navbar{
        display: none;
    }
    .proyectos_img{
        justify-content: center;
    }

    .nav_item{
        margin-left: 60px;
    }
    .nav_item a{
        font-size: 20px;
    }
    .navegacion #check_menu:checked ~ .navbar{
        background-image: url(../assets/img/Hormigon.png);
        width: 100%;
        height: 100vh;
        left: 0;
        top: 60px;
        position: absolute;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

    }
}

@media only screen and (max-width: 623px){
/* ver clase de media para el nav-check */
}


                                        /* pseudoclases y elementos */