@font-face {
  font-family: "Roboto";
  src: url(../Font/Roboto-LightItalic.ttf);
}
/*variables*/
:root {
  font-size: 16px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fin reset */
/* generales */
body {
  font-family: "Roboto";
  background-image: url(../assets/img/foto-de-portada.jpg);
  background-size: cover;
  background-position: center;
  width: "100%";
}

.presentacion p {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.322);
  font-weight: 600;
}

h1 {
  color: blue;
  margin: 15px 15px 0px 15px;
}

h2, h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
}

h4 {
  background-color: grey;
  color: blue;
}

a {
  text-decoration: none;
}

/* boton arriba */
a img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

/* fin generales */
/* navegacion */
header {
  position: sticky;
  top: 0px;
  z-index: 5;
}

.navegacion {
  background-image: url(../assets/img/Hormigon.png);
  width: "100%";
  height: 74px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navegacion section {
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.navegacion section img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 15px 15px 15px 0;
  animation: escalar 3s ease-in-out infinite;
}
.navegacion section span {
  font-weight: bold;
  color: black;
}
.navegacion label {
  display: none;
}
.navegacion label img {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  box-sizing: content-box;
}
.navegacion .navbar {
  width: "100%"/2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
.navegacion .navbar .nav_item {
  margin-left: 10px;
  padding: 5px 10px;
  display: flex;
}
.navegacion .navbar .nav_item:hover {
  background-color: rgba(128, 128, 128, 0.26);
  font-weight: 600;
}
.navegacion .navbar .nav_item:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}
.navegacion .navbar .nav_item a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.navegacion .navbar .nav_item a:hover {
  color: white;
}
.navegacion .navbar .nav_item .activo {
  border-bottom: 2px solid black;
}
.navegacion .navbar .nav_item .activo:hover {
  border-bottom: 2px solid white;
}
.navegacion #check_menu {
  display: none;
}

@keyframes escalar {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}
/* fin nav */
/* index */
#body_index {
  background-image: none;
  background-color: rgba(241, 236, 236, 0.836);
}

.carousel_index {
  margin: 0 65px 0 65px;
  padding: 45px 65px 0 65px;
  border-radius: 5px;
}
.carousel_index button:hover {
  background-color: rgba(128, 128, 128, 0.589);
}

.fondo_text_index {
  background-image: url(../assets/img/Hormigon.png);
  padding: 20px 0 20px 0;
  margin: 5px 15px 0 15px;
}

.titulo_princ {
  padding-left: 35%;
}

.presentacion p {
  margin: 30px;
  padding: 20px;
  line-height: 35px;
  height: auto;
  text-align: start;
  font-size: 25px;
}

/* fin index */
/* estudio */
.estudio {
  background-color: rgba(128, 128, 128, 0.836);
  width: 95%;
  border: 1px solid grey;
  margin: 30px;
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100px, repeat(3, 150px);
  column-gap: 20px;
  row-gap: 10px;
  justify-items: stretch;
}
.estudio .prrfo1 {
  width: 100%;
  height: auto;
  line-height: 40px;
  grid-row: 1/2;
  grid-column: 1/3;
}
.estudio .prrfo2 {
  width: 100%;
  height: auto;
  margin-top: 30px;
  line-height: 40px;
  grid-row: 2/3;
  grid-column: 1/2;
}
.estudio .prrfo3 {
  width: 100%;
  height: auto;
  line-height: 45px;
  grid-row: 3/4;
  grid-column: 1/2;
}
.estudio .prrfo4 {
  width: 100%;
  height: auto;
  line-height: 40px;
  grid-row: 4/5;
  grid-column: 1/2;
}
.estudio .img_estudio {
  width: 100%;
  height: auto;
  padding-bottom: 90px;
  grid-row: 2/4;
  grid-column: 2/3;
  filter: grayscale(60%);
  justify-items: center;
  align-items: center;
}
.estudio .img_estudio img {
  width: 80%;
  margin-left: 50px;
  border: 2px solid rgb(65, 64, 64);
  border-radius: 15px;
}
.estudio h3 {
  font-size: 20px;
}
.estudio .fundadores {
  width: 100%;
  grid-row: 3/5;
  grid-column: 2/3;
}
.estudio .fundadores img {
  width: 80%;
  height: auto;
  margin: 300px 0 0 49px;
  margin-left: 50px;
  filter: grayscale(40%);
  border: 2px solid rgb(65, 64, 64);
  border-radius: 15px;
}

/* fin estudio */
/* proyectos */
.nav_proy {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.nav_proy .nav_proyectos {
  width: 50%;
  margin-left: 10px;
  padding: 5px 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
  padding: 10px;
}
.nav_proy .nav_proyectos a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.proyectos_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.proyectos_img .proyec_selec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.74);
  transition: all 0.5s ease-in;
}
.proyectos_img .proyec_selec .encuadre {
  height: 70%;
}
.proyectos_img .proyec_selec:hover {
  background-color: rgba(204, 200, 200, 0.979);
  transform: scale(1.03);
}
.proyectos_img .proyec_selec img {
  width: 85%;
  margin-top: 15px;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 15px;
}
.proyectos_img .proyec_selec p {
  width: 80%;
  height: 30%;
  overflow-y: scroll;
  border: 1.5px solid black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}
.proyectos_img .proyec_selec p:hover {
  font-weight: 600;
}
.proyectos_img .proyec_selec .boton_proy {
  width: 45%;
  height: 35px;
  background-color: rgb(128, 122, 122);
  color: white;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 15px;
}
.proyectos_img .proyec_selec .boton_proy:hover {
  box-shadow: 3px 3px black;
}
.proyectos_img .proyec_selec .boton_proy:active {
  box-shadow: 0 0;
}

/* fin proy */
/* servicios */
.serv_sec {
  width: "100%";
  margin: 60px 60px 30px 30px;
}
.serv_sec h2 {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 22px;
  font: 600;
}
.serv_sec .diseno, .serv_sec .direccion {
  display: grid;
  width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.575);
  border: 2px solid black;
  border-radius: 7px;
  grid-template-columns: 35% 55%;
  grid-template-rows: 40px 180px 180px 180px;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  justify-items: stretch;
}
.serv_sec .diseno h3, .serv_sec .direccion h3 {
  border: 2px solid black;
  background-image: url(../assets/img/Hormigon.png);
  text-align: center;
}
.serv_sec .diseno div, .serv_sec .direccion div {
  border-bottom: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.serv_sec .diseno .a_titulo, .serv_sec .direccion .a_titulo {
  grid-row: 1/2;
  grid-column: 1/3;
}
.serv_sec .diseno .b_texto, .serv_sec .direccion .b_texto {
  grid-row: 2/3;
  grid-column: 1/2;
}
.serv_sec .diseno .c_texto, .serv_sec .direccion .c_texto {
  grid-row: 3/4;
  grid-column: 1/2;
}
.serv_sec .diseno .d_texto, .serv_sec .direccion .d_texto {
  grid-row: 4/5;
  grid-column: 1/2;
}
.serv_sec .diseno .e_img, .serv_sec .direccion .e_img {
  grid-row: 2/5;
  grid-column: 2/3;
}
.serv_sec .diseno .e_img img, .serv_sec .direccion .e_img img {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
}
.serv_sec .diseno .titulo_a, .serv_sec .direccion .titulo_a {
  grid-row: 1/2;
  grid-column: 1/3;
}
.serv_sec .diseno .img_b, .serv_sec .direccion .img_b {
  grid-row: 2/5;
  grid-column: 1/2;
}
.serv_sec .diseno .text_c, .serv_sec .direccion .text_c {
  grid-row: 2/3;
  grid-column: 2/3;
}
.serv_sec .diseno .text_d, .serv_sec .direccion .text_d {
  grid-row: 3/4;
  grid-column: 2/3;
}
.serv_sec .diseno .text_e, .serv_sec .direccion .text_e {
  grid-row: 4/5;
  grid-column: 2/3;
}
.serv_sec .diseno .img_b img, .serv_sec .direccion .img_b img {
  width: 100%;
  height: 100%;
}
.serv_sec .diseno .b_texto p, .serv_sec .diseno .c_texto p, .serv_sec .diseno .d_texto p, .serv_sec .diseno .text_c p, .serv_sec .diseno .text_d p, .serv_sec .diseno .text_e p, .serv_sec .direccion .b_texto p, .serv_sec .direccion .c_texto p, .serv_sec .direccion .d_texto p, .serv_sec .direccion .text_c p, .serv_sec .direccion .text_d p, .serv_sec .direccion .text_e p {
  margin-top: 7px;
}
.serv_sec .direccion {
  grid-template-columns: 55% 35%;
}

/* fin serv */
/* contacto */
.contacto_fomr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto_fomr .Formulario {
  background-color: rgba(128, 128, 128, 0.808);
  border-radius: 10px;
  box-shadow: 5;
  width: 50%;
  height: auto;
  margin: 20px -10px 20px 10px;
  padding: 15px;
}
.contacto_fomr .Formulario form {
  width: 100%;
}
.contacto_fomr .Formulario form label {
  margin-bottom: 15px;
}
.contacto_fomr .Formulario form input {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.contacto_fomr .Formulario form input:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
  background-color: rgba(0, 255, 255, 0.664);
}
.contacto_fomr .ubicacion {
  width: 50%;
}
.contacto_fomr .ubicacion a img {
  width: 100%;
  height: 100%;
  border: 2px solid gray;
}
.contacto_fomr .ubicacion a img:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.445);
}

/* fin contacto */
/* footer */
.footer {
  background-image: url(../assets/img/Hormigon.png);
  width: "100%";
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .contacto_redes {
  margin-top: 10px;
  margin-left: 15px;
}
.footer .contacto_redes h3 {
  font-size: 20px;
  margin: 35px;
}
.footer .contacto_redes a img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.footer .contacto_redes a img:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}
.footer .navbar {
  margin-top: 20px;
}
.footer .navbar h3 {
  margin: 20px 0 35px 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-align: left;
}
.footer .navbar .nav_item {
  font-size: 20px;
}
.footer .navbar .nav_item a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.footer .navbar .nav_item a:hover {
  color: white;
}
.footer .navbar .nav_item .activo {
  border-bottom: 2px solid black;
}
.footer .navbar .nav_item .activo:hover {
  border-bottom: 2px solid white;
}
.footer .contacto {
  margin-top: 10px;
  margin-right: 45px;
}
.footer .contacto h3 {
  margin: 35px;
  font-size: 20px;
}
.footer .contacto h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

/* fin footer */
/* aqui van los media */
@media only screen and (max-width: 1130px) {
  .proyectos_img {
    justify-content: center;
  }
  .estudio .prrfo3 {
    grid-column: 1/3;
    margin-top: 35px;
  }
  .estudio .img_estudio {
    grid-row: 2/4;
    padding-top: 0;
  }
  .estudio .img_estudio img {
    margin-top: 50px;
  }
  .estudio .fundadores {
    margin-top: 130px;
  }
  .estudio .fundadores img {
    margin: 150px 0 0 49px;
  }
  /*     .direccion{
          grid-template-columns: 55% 35%;
      } */
}
@media only screen and (max-width: 870px) {
  .navbar {
    width: auto;
  }
  .navbar .nav_item a {
    text-align: left;
  }
  /*     .estudio{
          .prrfo1 , .prrfo2 , .prrfo3 , .prrfo4{
              line-height: 20px;
          }
      } */
  .serv_sec .diseno, .serv_sec .direccion {
    grid-template-rows: 40px 230px 230px 230px;
  }
}
@media only screen and (max-width: 768px) {
  .navegacion .navbar {
    display: none;
  }
  .navegacion .navbar .nav_item {
    margin-left: 60px;
  }
  .navegacion .navbar .nav_item a {
    font-size: 20px;
  }
  .navegacion label {
    display: block;
  }
  .navegacion #check_menu:checked ~ .navbar {
    background-image: url(../assets/img/Hormigon.png);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 60px;
    position: absolute;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .presentacion p {
    line-height: 25px;
  }
  .estudio {
    background-color: rgba(128, 128, 128, 0.755);
  }
  .estudio .fundadores {
    grid-row: 4/5;
    margin-top: 50px;
  }
  .nav_proy .nav_proyectos {
    width: 100%;
    margin: 15px;
  }
  .proyectos_img {
    justify-content: center;
  }
  .proyectos_img .proyec_selec {
    width: 80%;
    height: 70vh;
  }
  .proyectos_img .proyec_selec img {
    width: 80%;
    height: 45%;
    margin-top: 25px;
  }
  .proyectos_img .proyec_selec p {
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 55px;
    box-sizing: content-box;
  }
  .proyectos_img .proy_edif {
    margin-bottom: 10px;
  }
  .serv_sec .diseno, .serv_sec .direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer .contacto_redes {
    width: 50%;
  }
  .footer .navbar {
    display: none;
  }
  .footer .contacto {
    margin: 20px;
  }
}
@media only screen and (max-width: 623px) {
  .contacto_fomr .Formulario {
    width: 90%;
  }
  .contacto_fomr .ubicacion {
    width: 90%;
  }
  .carousel_index {
    margin: 0 10px 0 10px;
    padding: 10px 10px 0 10px;
  }
  .presentacion p {
    font-size: 16px;
  }
  .estudio {
    background-color: rgba(128, 128, 128, 0.755);
    width: 90%;
    border: 1px solid grey;
    margin: 30px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .estudio .prrfo1, .estudio .prrfo2, .estudio .prrfo3, .estudio .prrfo4 {
    width: 90%;
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
  }
  .estudio .galeria_estudio {
    display: inline;
    width: 90%;
    height: 250px;
    padding: 10px;
    margin-left: 15px;
    border: 1px solid grey;
  }
  .estudio .img_estudio {
    display: none;
  }
  .estudio .fundadores {
    display: none;
  }
  .proyectos_img .proyec_selec img {
    margin: 50px 25px 0;
  }
  .proyectos_img .proyec_selec p {
    box-sizing: content-box;
    overflow: hidden;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
