/* aqui van los media */

@media only screen and (max-width: 1130px){
    .proyectos_img{
        justify-content: center;
    }
    .estudio{
        .prrfo3{
            grid-column: 1/3;
            margin-top: 35px;
        }
        .img_estudio{
            grid-row: 2/4;
            padding-top: 0;
            img{
                margin-top: 50px;
            }
        }
        .fundadores{
            grid-row: 3/5;
            margin-top: 130px;
            img{
            margin: 150px 0 0 49px;
            }
        }
    }
/*     .direccion{
        grid-template-columns: 55% 35%;
    } */
}
@media only screen and (max-width: 870px){
    .navbar {
        width: auto;
        .nav_item a{
            text-align: left;
        }
    }
/*     .estudio{
        .prrfo1 , .prrfo2 , .prrfo3 , .prrfo4{
            line-height: 20px;
        }
    } */
    .serv_sec{
        .diseno , .direccion{
            grid-template-rows: 40px 230px 230px 230px;
        }
    }
}
@media only screen and (max-width: 768px){
    .navegacion{
        .navbar{
            display: none;
            .nav_item{
                margin-left: 60px;
                a{
                    font-size: 20px;
                }
            }
        }
        label{
            display: block;
        }
    }
    .navegacion #check_menu:checked ~ .navbar{
        background-image: url(../assets/img/Hormigon.png);
        width: 100%;
        height: 100vh;
        left: 0;
        top: 60px;
        position: absolute;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .presentacion{
        p{
            line-height: 25px;
        }
    }
    .estudio{
        background-color: rgba(128, 128, 128, 0.755);
/*         .prrfo1 , .prrfo2 , .prrfo3 , .prrfo4{
            line-height: 20px;
        } */
    }
    .nav_proy .nav_proyectos{
        width: 100%;
        margin: 15px;
    }
    .proyectos_img{
        justify-content: center;
        .proyec_selec{
            width: 80%;
            height: 70vh;
            img{
                width: 80%;
                height: 45%;
                margin-top: 25px;
            }
            p{
                font-size: 20px;
                overflow: hidden;
                padding-bottom: 55px;
                box-sizing: content-box;
            }
        }
        .proy_edif{
            margin-bottom: 10px;
        }
    }
    .serv_sec{
        .diseno , .direccion{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .footer{
        .contacto_redes{
            width: 50%;
            }
        .contacto{
            margin: 20px;
        }
    }
}
@media only screen and (max-width: 623px){
    .contacto_fomr{
        .Formulario{
            width: 90%;
        }
        .ubicacion{
            width: 90%;
        }
    }
    .carousel_index{
        margin: 0 10px 0 10px;
        padding: 10px 10px 0 10px;
    }
    .presentacion{
        p{
            font-size: 16px;
        }
    }
    .estudio{
        background-color: rgba(128, 128, 128, 0.755);
        width: 90%;
        border: 1px solid grey;
        margin: 30px;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .prrfo1 , .prrfo2 , .prrfo3 , .prrfo4{
            width: 90%;
            padding: 10px;
            margin-left: 15px;
            margin-top: 10px;
            font-size: 16px;
        }
        .galeria_estudio{
            display: inline;
            width: 90%;
            height: 250px;
            padding: 10px;
            margin-left: 15px;
            border: 1px solid grey;
        }
        .img_estudio{
            display: none;
        }
        .fundadores{
            display: none;
        }
    }
    .proyectos_img{
        .proyec_selec{
            img{
                margin: 50px 25px 0;
            }
            p{
                box-sizing: content-box;
                overflow: hidden;
                padding-bottom: 50px;
            }
        }
    }
}

